- name: make fish default shell
  shell:
    cmd: usermod --shell /usr/bin/fish {{ desktop_user }}

- name: clone oh my fish
  git:
    repo: https://github.com/oh-my-fish/oh-my-fish.git
    depth: 1
    dest: files/oh-my-fish
    version: master

- name: configure fish
  copy:
    src: files/config/{{ item }}
    dest: /home/{{ desktop_user }}/.config/fish/functions/{{ item }}
  become: yes
  become_user: "{{ desktop_user }}"
  loop:
    - fish_greeting.fish
    - fish_prompt.fish

- name: enable passwordless execution of scripts
  blockinfile:
    path: /etc/sudoers
    block: |  
      ALL ALL=NOPASSWD: /usr/bin/x360_touchscreen
      ALL ALL=NOPASSWD: /usr/bin/auto_rotation_enable.sh
      ALL ALL=NOPASSWD: /usr/bin/auto_rotation_disable.sh
    validate: visudo -cf %s

- name: adjust kernel parameters
  ini_file:
    path: /etc/default/grub
    option: GRUB_CMDLINE_LINUX
    value: "\"{{ grub_cmdline_linux }}\""
    no_extra_spaces: yes
    section: null
        
- name: update grub
  shell: grub2-mkconfig --output=/boot/grub2/grub.cfg
